
h1{
    color: lightblue;
    font-size: 45px;
}
.circular--square{
    border-radius: 50%;
}

em{
    
    font-size: 60px;
        
}

.margin{
    
    margin-left: 2cm;
    margin-right: 2cm;
}

body table{
    text-align: justify;
}
